rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Reglas ultra-permisivas para entorno privado
    match /{document=**} {
      allow read, write: if true;
    }
  }
}