rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir todo a usuarios autenticados para facilitar el desarrollo en entorno privado
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}